{% extends 'base.html.twig' %}

{% block title %}Clubs Esprit {% endblock %}

{% block body %}
<h1>Club Esprit</h1>
<p> lorem lorem lorem lorem loreù loreù llllllllllllllllll llllllllllllllllll llllllllllllll lllllllllllllll  </p>

<img src="{{ asset ('images/img.jfif') }}" alt="Example"/>

{% endblock %}
